:root {
  --primary-color: #B4D429;
}

.nav-link {
  transition-duration: 0.2s !important;
}
.nav-link:hover {
  background-color: var(--primary-color) !important; 
  color: rgb(0, 0, 0) !important;
}

.placeholder-light::placeholder {
  color: #6c757d !important;
}

.placeholder-light:focus {
  border-color: var(--primary-color) !important; 
  box-shadow: 0 0 5px var(--primary-color);
  outline: none;
}

.w-10 {
  width: 40px !important;
  height: 40px !important;
}

.cards {
  width: 15%;
  transition-duration: 0.2s;
}

.cards:hover{
  border-color: var(--primary-color) !important; 
  box-shadow: 0 0 5px var(--primary-color);
  outline: none;
  background-color: black !important;
}

.cards div i{
  transition-duration: 0.3s;
}

.cards:hover div i{
 color: var(--primary-color) !important;
 transform: scale(1.3);
}

.cursor-pointer{
  cursor: pointer;
}

.active {
  background-color: var(--primary-color);
  color: black !important;
}

.hero-hover{
  transition-duration: 0.2s;
}

.hero-hover:hover {
  border-color: var(--primary-color) !important; 
  box-shadow: 0 0 5px var(--primary-color);
  outline: none;
}

.hero-hover img {
  transition-duration: 0.5s;
}

.hero-hover:hover img {
  filter: brightness(0.3)
}

.icon-wrapper {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.5s;
  opacity: 0;
}

.hero-hover:hover .icon-wrapper{
  opacity: 1;
  top: 50%;
}

.hero-hover .icon-wrapper i{
  transition-duration: 1s;
}

.hero-hover:hover .icon-wrapper i{
  color: var(--primary-color) !important; 
}

.overflow-card {
  overflow-y: scroll !important;
}

.overflow-card::-webkit-scrollbar {
  width: 0px;
}

.checkbox-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border: 1px solid #6C757D;
  border-bottom: 4px solid #6C757D;
  border-radius: 10px 10px 0 0 ;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.3s ease;
}


.checkbox-label input[type="checkbox"]:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.poltrona{
  background-color: rgb(5, 77, 105) !important;
}

.poltrona[type="checkbox"]:checked{
  background-color: rgb(7, 112, 153) !important;
  border-color: var(--primary-color) !important; 
  box-shadow: 0 0 8px var(--primary-color);
}


.sala {
  border-color: var(--primary-color) !important;
}

.botton-check {
  background-color: var(--primary-color);
  transition-duration: 0.3s !important;
}

.botton-check:hover {
  border-color: var(--primary-color) !important; 
  box-shadow: 0 0 10px var(--primary-color);
  background-color: var(--primary-color) !important;
}